.Odd {
    background-color: #FFCCCB;
    font: Verdana, "DejaVu Sans", sans-serif; 
}

#Second {
    color:	#00FFFF;
    font-size: 36px;
}

.Third {
    font-size: 24px;
}

#Fourth {
    background-color: #90EE90;
    font-size: 24px;
    font-weight: 700;
}